<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hadesky.cacw"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>



    <!-- 允许应用程序写数据到外部存储设备（主要是SD卡） -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 在SDCard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取移动网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取WIFI信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许访问GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 改变WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 允许程序管理AccountManager中的账户列表 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <!-- 访问GMail账户列表 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 可以发送系统数据库更新广播 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 访问系统图库获得图片 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 读取账户权限 -->
    <uses-permission android:name="ANDROID.PERMISSION.GET_ACCOUNTS"/>
    <uses-permission android:name="ANDROID.PERMISSION.GET_ACCOUNTS_PRIVILEGED"/>
    <uses-permission android:name="ANDROID.PERMISSION.ACCOUNT_MANAGER"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".config.MyApp"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:label="欢迎使用"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="@string/title_activity_setting"/>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/title_activity_register">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.LoginActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.AddTaskActivity"
            android:label="@string/title_activity_add_task"/>
        <activity android:name=".ui.activity.TaskDetailActivity"/>
        <activity
            android:name=".ui.activity.EditTaskActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".ui.activity.MainActivity" -->
            <!-- /> -->
        </activity>
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:label="用户信息"
            android:theme="@style/translucent_status"/>
        <activity android:name=".ui.activity.SelectMemberActivity"/>
        <activity android:name=".ui.activity.ProjectDetailActivity">
        </activity>
        <activity android:name=".ui.activity.TaskListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.TaskDetailActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:theme="@style/translucent_status">
            <intent-filter>
                <action android:name="com.hadesky.cacw.about"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MyInfoActivity"
            android:theme="@style/translucent_status">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity"/>
        </activity>
        <activity android:name=".ui.activity.MyTeamActivity"/>
        <activity android:name=".ui.activity.ForgetPswActivity">
        </activity>
        <activity android:name=".ui.activity.EditMyInfoActivity">
        </activity>
        <activity android:name=".ui.activity.NewTeamActivity">
        </activity>
        <activity
            android:name=".ui.activity.TeamInfoActivity"
            android:theme="@style/translucent_status">
        </activity>
        <activity
            android:name=".ui.activity.ImageActivity"
            android:theme="@style/translucent_status">
        </activity>
        <activity android:name=".ui.activity.TeamMemberActivity">
        </activity>
        <activity android:name=".ui.activity.ProjectsActivity">
        </activity>
        <activity android:name=".ui.activity.FinishedTaskActivity">
        </activity>
        <activity android:name=".ui.activity.InviteMemberActivity">
        </activity>
        <activity android:name=".ui.activity.SearchActivity">
        </activity>
        <activity android:name=".ui.activity.MessageListActivity">
        </activity>
        <activity android:name=".ui.activity.ChatActivity">
        </activity>


        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false" >
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="${applicationId}" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.hadesky.cacw.receiver.CACWReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="e1ddf6b7d3bb9c6ba2545a55"/>
    </application>

</manifest>